{% extends "bootstrap/base.html" %}
<!-- Using module Flask-Bootstrap after initialization of the bootstrap we extend -->
<!-- the base bootstrap template, using 'extend/endblock' in document i call -->
<!-- for certain part of template and add in it new parts that will work as template -->

{% block title %}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Web Page</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/time">Time</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.locale('locale') }}
{% endblock %}
<!-- Function super() is responsible for inheritance of the scripts -->
<!-- declared in the bootstrap base template, additionally I add moment script -->
<!-- If we want to keep something from the main template's block we must -->
<!-- call super() to inherit the content of such block -->


{% block content %}
<div class="container">
    <div class="page-header">
        {% block page_content %}{% endblock %}
    </div>
</div>
{% endblock %}
