{% extends 'base.html' %}

{% block title %}
My projects
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='maze.png')}}" class="card-img-top" alt="maze">
            <div class="card-body">
              <h5 class="card-title">Maze</h5>
              <p class="card-text">Maze generator based on Prim's algorithm and a way finder.</p>
              <a href="#" class="btn btn-primary">See code</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='maze.png')}}" class="card-img-top" alt="maze">
            <div class="card-body">
              <h5 class="card-title">Maze</h5>
              <p class="card-text">Maze generator based on Prim's algorithm and a way finder.</p>
              <a href="#" class="btn btn-primary">See code</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='maze.png')}}" class="card-img-top" alt="maze">
            <div class="card-body">
              <h5 class="card-title">Maze</h5>
              <p class="card-text">Maze generator based on Prim's algorithm and a way finder.</p>
              <a href="#" class="btn btn-primary">See code</a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}